* {
  margin: 0;
}

body {
  background-color: rgb(133, 189, 133);
  margin-left: 20vw;
  margin-right: 20vw;
  text-align: center;
}

.space {
  margin: 10px;
}

#restart {
  background-color: yellow;
}
.field {
  border: 2px solid black;
  background-image: url("images/lawn.jpg");
  background-size: 100vw;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.hole {
  padding: 1vw;
}

img {
  width: 10vw;
  padding: 2vw;
  margin: 2vw;
}

@media (max-width: 400px) {
  body {
    color: white;
    padding: 0vw;
  }
}
